  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="utf-8">

      <style type="text/css">

          body{
            overflow-y:hidden; 
          }

         .material-icons {
            color: white;
          }

           #map {
            height: 100%;
          }

          .angular-google-map-container { 
            height: 100vh /*647px; // Or whatever pixel value you require :)*/
          }

          /*.angular-google-map,
          .angular-google-map-container {
            width: 100%;
            height: 100%;
          }*/

      </style>
      
      <script src='js/vendor/lodash.min.js'></script>
      <script src="js/vendor/angular.min.js"></script>
      <script src='js/vendor/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
      <script src='js/vendor/angular-google-maps.min.js'></script>

    </head>

    <body ng-app="myApp">

      <!-- Page Layout here -->
      <div class="row">

        <div class="col s12 m4 l4" >

          <div class="card-panel blue lighten-2" ng-controller="MainController">

            <div class="card-content white-text">
              <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
              <span class="card-title white-text">{{ mainselected }}</span>              
              <a href="#" class="right"><i class="material-icons">more_vert</i></a>
              <a href="#" class="right"><i class="material-icons">search</i></a>
            </div>

            <!-- Grey navigation panel -->
              <ul id="slide-out" class="side-nav" style="width: 240px;" >
                <li ng-repeat="m in main">
                  <a href="{{m.path}}" ng-click="mainDisplay($index)">{{m.display}}</a>
                </li>
              </ul>   

          </div>

          <div class="container" id="contenedor" style="width:100%" ng-controller="MapsController">

              <!--ul class="collection">
                <li class="collection-item avatar" ng-repeat="m in markers">
                  <a href="#!" ><i class="tiny material-icons circle blue lighten-2">visibility</i></a>
                  <span class="title"><strong>{{m.title}}</strong> </span>
                  <p>Propietario: {{m.nameOwner}} <br>
                     Dirección: {{m.address}}<br>
                     Telefono: {{m.phone}}<br>
                     Actividad: {{m.activity}}
                  </p>                
                </li>
              </ul-->

                <ul class="collapsible popout" data-collapsible="accordion">
                  <li ng-repeat="m in markers">
                    <div class="collapsible-header"><i class="material-icons" style="color: #1E90FF;">visibility</i><strong>{{m.title}}</strong></div>
                    <div class="collapsible-body">
                      <p>Propietario: {{m.nameOwner}} <br>
                      Dirección: {{m.address}}<br>
                      Telefono: {{m.phone}}<br>
                      Actividad: {{m.activity}}
                      </p> 
                    </div>
                  </li>
                </ul>

          </div>          
          
        </div>

        <div class="container col s12 m8 l8" >
          <!-- Teal page content  -->
          <div ng-controller="MapsController">
              <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">

                  <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeClick="map.window.closeClick()">
                      <div style="color: black">
                          {{map.window.title}}
                      </div>
                  </ui-gmap-window>
                  <ui-gmap-markers idkey="marker.id" models="map.markers" coords="'self'" doCluster="false"  icon="'icon'" events="map.markersEvents " options="map.options"></ui-gmap-markers>


            </ui-gmap-google-map>             
          </div> 

        </div>

    </div>
 

    <!--/div-->

    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/vendor/materialize.min.js"></script>

      <!-- Modules -->
      <script src="js/app.js"></script>

      <!-- Services -->
      <script src="js/services/MapsService.js"></script>

      <!-- Controllers -->
      <script src="js/controllers/MainController.js"></script>
      <script src="js/controllers/MapsController.js"></script>

      <script type="text/javascript">
        $(document).ready(function() {

            $('.button-collapse').sideNav({
                menuWidth: 300, // Default is 240
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
              }
            );

             $('.collapsible').collapsible({
                accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
             });  
       
             //$('.collapsible').collapsible();       


        });

      </script>      

    </body>
  </html>
        